services:
  postgres:
    image: postgres:16
    container_name: pg16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cloud_storage
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: cloud-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

volumes:
  pg-data:
  redis-data: