services:
  postgres:
    image: postgres:16
    container_name: pg16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cloud_storage
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: cloud-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

  minio:
    image: minio/minio:latest
    container_name: cloud-minio
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web UI
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: adminadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

volumes:
  pg-data:
  redis-data:
  minio-data: