spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cloud_storage
    username: postgres
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

data:
  redis:
    host: localhost
    port: 6379

  session:
    store-type: redis
    timeout: 30m

minio:
  url: http://localhost:9000
  access-key: admin
  secret-key: adminadmin
  bucket: user-files

logging:
  file:
    name: log/app.log
  level:
    root: INFO
    spring.storage: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE